.git
Dockerfile
.DS_Store
.gitignore
.dockerignore
README
README-debug
**/*.log
**/logs/
/var/log
/tmp
/var/tmp
/var/cache
/var/lib/apt/lists
/var/lib/apt/extended_states
/var/lib/dpkg
/etc/ld.so.cache
/usr/share/man
/usr/share/doc
/usr/share/doc-base
/etc/emacs
/etc/init.d
/etc/pulse

# Byte-compiled / optimized / DLL files
**/__pycache__
**/wheels
**/pip-wheel-metadata
**/*.py[cod]
**/*$py.class
**/pip-log.txt

# Node.js / npm
**/.node-gyp
**/.npm/_logs
**/.npm/_cacache
**/npm-debug.log*
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/*.pid*
**/*.seed*
**/*.pid.lock*

# Sphinx documentation
**/docs/_build

# Jupyter Notebook
**/.ipynb_checkpoints/
**/jupyter/lab/staging

# celery beat schedule file
**/celerybeat-schedule

# conda
**/.cache
**/.conda
**/.npm
**/.nuget
**/.local
**/.ipython
**/.gem
**/.config
**/.dotnet
**/.plotly
