.git
Dockerfile
.DS_Store
.gitignore
.dockerignore
*.log
logs/
/var/log
/tmp
/var/tmp
/var/lib/apt/lists/*
/usr/share/man
/usr/share/doc
/usr/share/doc-base

# Byte-compiled / optimized / DLL files
__pycache__/
wheels/
pip-wheel-metadata/
*.py[cod]
*$py.class
pip-log.txt

# Node.js / npm
.node-gyp
.npm/_logs
.npm/_cacache
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid*
*.seed*
*.pid.lock*

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
jupyter/lab/staging

# celery beat schedule file
celerybeat-schedule

# conda
/home/*/.cache
/root/.cache
