[req]
default_bits = 4096
distinguished_name = req_distinguished_name
[req_distinguished_name]

[req_distinguished_name]
countryName_default             = US
stateOrProvinceName_default     = California
localityName_default            = Los Angeles
0.organizationName_default      = PhilNet
